.parent {
   display: flex;
   align-items: center;
   border: 3px solid goldenrod;
   margin-top: 5%;
   overflow: scroll;
   height: 400px;
   padding: 3rem;
   width: 80%;
   background-color: rgb(9, 16, 227);
   margin: auto;
   border-radius: 30px;
   margin-left: auto;
   margin-bottom: 40%;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, 
   rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 
 }
 
 /* Card */
 .Card {
   border: 2px solid rgb(209, 113, 29);
   min-width: 400px;
   min-height: 400px;
   margin: 10px;
   border-radius: 30px;
   margin-right: 2rem;
   background-color: rgba(241, 161, 13, 0.808);
   padding: 15px;
 
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
 }
 
 .Name {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: solid black;
   font-size: 30px;
   font-weight: bold;
 }
 
 
 .image {
   border-radius: 50%;
   width: 200px;
   height: 200px;
   border: 1px solid rgb(4, 60, 245);
   background-color: rgb(168, 202, 215);
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 }
 
 .parent::-webkit-scrollbar {
   display: none;
 }
 
 .Div1 {
 
   display: flex;
   justify-content: center;
   font-size: 50px;
   color: blue;
   margin-top: auto;
 
 }
 
 .team {
   font-size: 25px;
   color: solid rgb(32, 31, 31);
 
 }
 
 .role {
   font-size: 30px;
   color: rgb(16, 16, 16);
 }
 
 .teamna {
   margin-left: auto;
   text-align: center;
   margin-right: auto;
 }
 
 img {
   height: 200px;
 
 }