.CardPara{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 300px;
   border-radius: 20px;
   padding: 15px;
   background-color: rgb(172, 237, 51);
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.App{
   background-color:rgb(53, 241, 241);
   margin-top: auto;
   margin-bottom: auto;
   
}
img{
   border-radius: 100%;
}
.para{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
   margin-top: 15px;
   padding: 10px;
   border-radius: 15px;
   background-color: rgb(16, 15, 15);
   font-size: larger;
   color: white;
   cursor: pointer;
}